// Rights Reserved, Unlicensed

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.80.0
    hooks:
      - id: terraform_fmt
      - id: terraform_validate

  - repo: https://github.com/open-policy-agent/conftest
    rev: v0.52.0
    hooks:
      - id: conftest
        args: [ "test", ".", "--policy", "policies/rego" ]
